<ion-view title="Lowerclassman Profile ">
    <ion-content padding="true" class="has-header">
        
        <form class="list">
            
        </form>
        <div class="button-bar">
            <button class="button button-stable button-block" ng-click="goToProfile()">Edit Profile</button>
            <button class="button button-stable button-block ">Joe Bloggs</button>
            <button class="button button-stable button-block ">Computer Science</button>
        </div>
        <button class="button button-stable button-block ">Freshman</button>

        <label class="item item-input">
                <span class="input-label">Interested in: </span>
                <input type="text" placeholder="">
        </label>

        <button class="button button-stable button-block" ng-click="goTointrotocompsciState()">CSCI 001</button>
        <button class="button button-stable button-block">ENGL 075</button>
        <button class="button button-stable button-block">EGPP 101</button>
        <button class="button button-stable button-block">ECON 001</button>
    
            
        
    </ion-content>
</ion-view>