<ion-view title="Page">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAALYAAAAJDBkNzJkODAxLTJhM2UtNDdlMy1hNzVkLTZkOWZjNmNjNGI2Zg.jpg">
                <h2></h2>
                <p>Edit photo</p>
            </ion-item>
            <label class="item item-input">
                <span class="input-label">Full Name</span>
                <input type="text" placeholder="Pratik Koirala">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" placeholder="pratik.koirala@bison.howard.edu">
            </label>
            <label class="item item-input">
                <span class="input-label">Phone</span>
                <input type="tel" placeholder="316-226-1516">
            </label>
            <label class="item item-input">
                <span class="input-label">Classification</span>
                <input type="tel" placeholder="Freshman">
            </label>
            <label class="item item-input">
                <span class="input-label">About me</span>
                <input type="text" placeholder="I'm simply awesome.">
            </label>
            <button class="button button-stable button-block">CSCI 001</button>
            <button class="button button-stable button-block">ENGL 075</button>
            <button class="button button-stable button-block">EGPP 101</button>
            <button class="button button-stable button-block">ECON 001</button>
    
             <div class="list">

                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" placeholder="Course">
                    </label>
                    <button class="button button-small">
                    Add Course
                    </button>
                </div>

            </div>
        </ion-list>
        <button class="button button-stable button-block bar-positive">Save</button>
    </ion-content>
</ion-view>