ion-view title="Sign Up Page">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
        </form>

        <form class="list">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" placeholder="">
            </label>
        </form>

        <form class="list">
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" placeholder="">
            </label>
        </form>

        <form class="list">
            <label class="item item-input">
                <span class="input-label">Confirm Password</span>
                <input type="password" placeholder="">
            </label>
        </form>

        <div class="list">

            <label class="item item-input item-select">
                <div class="input-label">
                  University
                </div>
                <select>
                    <option value="HU">Howard University</option>
                    <option value="Hampton">Hampton University</option>
                    <option value="Morgan">Morgan State University</option>
                </select>
            </label>

        </div>
        <div class="list">

            <label class="item item-input item-select">
                <div class="input-label">
                  Class of 
                </div>
                <select>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                </select>
            </label>

        </div>
        <div class="list">

            <label class="item item-input item-select">
                <div class="input-label">
                  Major
                </div>
                <select>
                    <option value="CompSci">Computer Science</option>
                    <option value="CompE">Computer Engineering</option>
                    <option value="ChemE">Chemical Engineering</option>
                    <option value="Math">Mathematics</option>
                </select>
            </label>

        </div>

        <a href="#/page8" class="button button-stable button-block ">Create an account</a>
    </ion-content>
</ion-view>